<div class="announcement">
  <div class="row">
    <div class="col-md-12">
      <h3>NO CLASS TODAY!</h3>
      <h5>JULY 4, 2014</h5>
      <p> 9Round is a specialized fitness center dedicated to serving clients who want a unique, fun, and proven workout that guarantees results.

      9Round offers traditional "old school" boxing and kickboxing fitness programs that incorporates functional, interval, cardiovascular, and circuit training regimens.

      The programs are developed around a proprietary system of 9 challenging workout stations developed by a professional fighter.

      9Round delivers total body results in a quick and convenient 30 minute workout with no class times and a trainer with you every step of the way. </p>

    </div>
  </div>

  
</div>