<div class="announcement">
    <div class="row"> 
      <div class="col-md-12">
        <h3><%= announcement.title %></h3>
        Date: <%= announcement.announced_at %> <br><br>
        <p><%= announcement.content %></p> <br>
      <hr>
      </div>
    </div>

</div>