<table class="table table-bordered">
  <tr>
    <th>COLOR</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
  </tr>
  <% a.each do |downloadable_form| %>
    <% if downloadable_form.special == true %>
      <tr>
        <td style="background-color: <%= downloadable_form.color %>"></td>
        <td><%= link_to downloadable_form.name, downloadable_form.file.url, target: "_blank" %></td>
        <td><%= downloadable_form.description %></td>
      </tr>
    <% end %>
  <% end %>
</table>

