<table class="table table-bordered">
    <tr>
	      <th>COLOR</th>
	      <th>NAME</th>
	      <th>DESCRIPTION</th>
	      <th>ACTION</th>
	    </tr>
      <% a.each do |downloadable_form| %>
          <tr>
            <td style="background-color: <%= downloadable_form.color %>">
            
            </td>
            <td><%= downloadable_form.name %></td>
            <td><%= downloadable_form.description %></td>
            <td><%= link_to "Download", downloadable_form.file.url, target: "_blank", class: "btn btn-success btn-xs" %></td>
          </tr>
      <% end %>
</table>
