<div class="guideline_container">
  <h1>SCHOOL GUIDELINES</h1>
    <p>
          Schools play a critical role in improving the dietary and physical activity behaviors of children and adolescents. Schools can create environments supportive of students’ efforts to eat healthy and be active by implementing policies and practices that support healthy eating and regular physical activity and by providing opportunities for students to learn about and practice these behaviors.
          CDC synthesized research and best practices related to promoting healthy eating and physical activity in schools, culminating in nine guidelines. These guidelines were informed by the Dietary Guidelines for Americans,1 the Physical Activity Guidelines for Americans,2 and the Healthy People 2020 objectives related to healthy eating and physical activity among children, adolescents, and schools.3 The guidelines serve as the foundation for developing, implementing, and evaluating school-based healthy eating and physical activity policies and practices for students.
          Each of the nine guidelines is accompanied by a set of implementation strategies developed to help schools work towards achieving each guideline. Although the ultimate goal is to implement all nine guidelines included in this document, not every strategy will be appropriate for every school, and some schools, due to resource limitations, might need to implement the guidelines incrementally.
    </p>
</div>