<div class="row">
  <div class="col-md-3">
      <div class="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <i class="fa"></i> SCHOOL
            </a>
            <a href="#" class="list-group-item">
                <i class="fa"></i> AUXILIARIES
            </a>
            <a href="#" class="list-group-item">
                <i class="fa"></i> CENTRAL SERVICES
            </a>
            <a href="#" class="list-group-item">
                <i class="fa"></i> OTHERS <span class="badge">14</span>
            </a>
            
        </div>        
    </div>
 
  </div>

  <div class="col-md-9">
  <%= render partial: "pages/guidelines" %>
  </div>
</div>
