<h1 class="ateneo_h1"><blink>ANNOUNCEMENTS</blink></h1>
<hr>
 <% @announcements.each do |announcement| %>
  <%= render partial: "announcements/announcement", locals: {announcement: announcement } %>
 <% end %>
<hr>
