<h1 class="ateneo_h1">SCHEDULE</h1>
<hr>
  <table class="table table-bordered">
    <tr>
      <th>DATE</th>
      <th>DAY</th>
      <th>UNIT</th>
      <th>TIME</th>
    </tr>
    <tr>
      <td>January 14</td>
      <td>Tuesday</td>
      <td>Briefing<br>
          Initial Review - FMO<br>
          Initial Review - University Athletics
      </td>
      <td>9:30 a.m.<br>
          10:30 a.m.<br>
          1:30 p.m.
      </td>

    </tr>
       <tr>
      <td>January 14</td>
      <td>Tuesday</td>
      <td>Briefing<br>
          Initial Review - FMO<br>
          Initial Review - University Athletics
      </td>
      <td>9:30 a.m.<br>
          10:30 a.m.<br>
          1:30 p.m.
      </td>

    </tr>
  </table>
<hr>