<h1 class="ateneo_h1">SCHEDULE</h1>
<hr>
  <table class="table table-bordered">
    <tr>
      <th>DATE</th>
      <th>DAY</th>
      <th>UNIT</th>
      <th>TIME</th>
    </tr>

    <tr>
      <td>January 13</td>
      <td>Tuesday</td>
      <td>Briefing<br>
          VP for University & Global Relations<br>
          VP for Loyola Schools
         (plus Rizal Library & Residence Halls)
      </td>
      <td>9:30 a.m<br>
          10:30 a.m<br>
          1:30 p.m
      </td>

    </tr>
    <tr>
      <td>January 15</td>
      <td>Thursday</td>
      <td>VP for Basic Education        
          (plus GS, JHS & HS)<br>
          VP for Professional Schools  
          (plus GSB, Law School, ASMPH, SOG & APS Lib)
      </td>
      <td>9:30 a.m<br>
          1:30 p.m
      </td>
   </tr>
   <tr>
      <td>January 20</td>
      <td>Tuesday</td>
      <td>VP for Social Development    
       (plus ACED, AIS, Gawad Kalinga & Pathways)  <br>
        VP for Administration       1:30p.m.
       (plus FMO, OUD, OAR, ITRMO, UArchives & UAth)    
      </td>
      <td>9:30 a.m<br>
          1:30 p.m
      </td>
  </tr>

  <tr>
      <td>January 27</td>
      <td>Tuesday</td>
      <td> President’s Office        
      (plus Art Gallery, OHRMOD, OMI, UCPRO & UPress) <br>
       General Administration  <br>
        VP Finance & Treasurer  
       (plus CAO, CPO & MPAO)
      </td>
      <td>9:30 a.m<br>
          1:30 p.m <br>
          2:00 p.m
      </td>
  </tr>

   <tr>
      <td>February 10</td>
      <td>Tuesday</td>
      <td> Review of Proposed Major Improvement <br>
            and Inspection Tour        <br>
        Review of Proposed New Positions
      </td>
      <td>9:30 a.m<br>
          <br>
          1:30 p.m <br>
      </td>
  </tr>

  <tr>
      <td>February 20</td>
      <td>Friday</td>
      <td> 
        Final Meeting
      </td>
      <td>TBA</td>
  </tr>
  </table>
<hr>