<h1 class="ateneo_h1">UPLOAD FORMS</h1>
  <h4 class="upload_form_h4">You may upload completed budget forms here. Please specify your name and select the corresponding unit from the list.</h4>
<hr>
  <form role="form">
    <div class="form-group">
      <label>UPLOADED BY:</label>
      <input class="form-control" placeholder="Enter name...">
    </div>

    <div class="form-group">
      <label>UNIT</label>
      <select class="form-control">
        <option value=""></option>
        <option value="">BABY</option>
        <option value="">I</option>
        <option value="">LOVE</option>
        <option value="">YOU</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<hr>