/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require style
 *= require notifications
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.special {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
  background-color: #236B8E;
  
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  img {
    width: 190px;
    height: 190px;
    padding: 10px;
    
  }

  .header_title {
    margin-top: 45px;
    color: white;
    padding-left: 34px;
  }
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  height: 60px;
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li1 {
  background-color: #5F9F9F;
}
.li2 {
 background-color: #79CDCD;
}
.li3 {
 background-color: #D1EEEE;
}
.li4 {
 background-color: #AEEEEE;
}
.li5 {
 background-color: #9BC4E2;
}

a:hover {
  text-decoration: none;
  list-style-type: none;
  color: #5b81b3;
}

a {
  color:#325C74;
}

.footer {
  background-color: #236B8E;
  width: auto; 
  text-align: center;
  color: white;
  height: 80px;
  padding-top: 10px;
}

a.aaa:hover {
  color: #9BC4E2;
}

