.ateneo_h1 {
  text-align: center;
}

.right {
  background-image: url("banner.jpg");
  height: 190px;
  background-position: right center;
}

.table {
  th {
    text-align: center;
    background-color: #5F9EA0;
    color: white;
  }

  td {
    background-color: #E0FFFF;
  }
}

.list-group-item {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-top: 10px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #C3E4ED;
  font-weight: bold;
}

.guideline_container {
  height: auto;
  border: 1px solid #E0FFFF;
  margin-top: 10px;
  
  padding: 10px;
}

.upload_form_h4 {
  text-align: center;
  color: #707070;
}

.form-group {
  select {
    width: 300px;
  }
  width: 300px
}

.announcement p
{
  font-size: 18px;
  text-align: justify;
}
